# Unemployment Rate Data Cleaning

In [96]:
import pandas as pd
import re

In [19]:
# Load in data from excel turned csv files

ur = pd.read_csv('./Unemployment.csv')

In [23]:
ur.head()

   Year     Month        State         County  Rate
0  2015  February  Mississippi  Newton County   6.1
1  2015  February  Mississippi  Panola County   9.4
2  2015  February  Mississippi  Monroe County   7.9
3  2015  February  Mississippi   Hinds County   6.1
4  2015  February  Mississippi  Kemper County  10.6

In [25]:
ur.columns = [x.lower() for x in ur.columns]

In [22]:
ur.shape

(885548, 5)

In [165]:
ur_2004 = ur[ur.year == 2004][ur.month == 'November'][ur.state != 'Alaska'].reset_index().drop('index', axis=1)
ur_2008 = ur[ur.year == 2008][ur.month == 'November'][ur.state != 'Alaska'].reset_index().drop('index', axis=1)
ur_2012 = ur[ur.year == 2012][ur.month == 'November'][ur.state != 'Alaska'].reset_index().drop('index', axis=1)
ur_2016 = ur[ur.year == 2016][ur.month == 'November'][ur.state != 'Alaska'].reset_index().drop('index', axis=1)

/Users/Penelope/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.
/Users/Penelope/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

/Users/Penelope/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/Penelope/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.

In [166]:
ur_2004.county = ur_2004.county.map(lambda x: str(x)[:-7])
ur_2008.county = ur_2008.county.map(lambda x: str(x)[:-7])
ur_2012.county = ur_2012.county.map(lambda x: str(x)[:-7])
ur_2016.county = ur_2016.county.map(lambda x: str(x)[:-7])

In [167]:
ur_2004.shape, ur_2008.shape, ur_2012.shape, ur_2016.shape

((2631, 5), (2351, 5), (2827, 5), (2821, 5))

In [168]:
def replace(df):
    '''Function to replace every state name in dataset with it's abbreviation'''
    
    df.state = df.state.replace('Alabama', 'AL').replace('Arizona', 'AZ').replace('Arkansas', 'AR')
    df.state = df.state.replace('California', 'CA').replace('Colorado', 'CO').replace('Connecticut', 'CT')
    df.state = df.state.replace('Delaware', 'DE').replace('Hawaii', 'HI').replace('Idaho', 'ID')
    df.state = df.state.replace('Illinois', 'IL').replace('Indiana', 'IN').replace('Iowa', 'IA')
    df.state = df.state.replace('Kansas', 'KS').replace('Kentucky', 'KY').replace('Louisiana', 'LA')
    df.state = df.state.replace('Maine', 'ME').replace('Maryland', 'MD').replace('Massachusetts', 'MA')
    df.state = df.state.replace('Michigan', 'MI').replace('Minnesota', 'MN').replace('Mississippi', 'MS')
    df.state = df.state.replace('Missouri', 'MO').replace('Montana', 'MT').replace('Nebraska', 'NE')
    df.state = df.state.replace('Nevada', 'NV').replace('New Hampshire','NH').replace('New Jersey', 'NJ')
    df.state = df.state.replace('New Mexico', 'NM').replace('New York', 'NY').replace('North Carolina','NC')
    df.state = df.state.replace('North Dakota', 'ND').replace('Ohio', 'OH').replace('Oklahoma', 'OK')
    df.state = df.state.replace('Oregon', 'OR').replace('Pennsylvania', 'PA').replace('Rhode Island', 'RI')
    df.state = df.state.replace('South Carolina', 'SC').replace('South Dakota', 'SD').replace('Tennessee', 'TN')
    df.state = df.state.replace('Texas', 'TX').replace('Utah', 'UT').replace('Vermont', 'VT')
    df.state = df.state.replace('Virginia', 'VA').replace('Washington', 'WA').replace('West Virginia', 'WV')
    df.state = df.state.replace('Wisconsin', 'WI').replace('Wyoming', 'WY')
    return df

In [169]:
ur_2004 = replace(ur_2004)

ur_2004.county = ur_2004.county + ', ' + ur_2004.state

In [176]:
ur_2004.drop('state', axis=1, inplace=True)

In [172]:
ur_2008 = replace(ur_2008)

ur_2008.county = ur_2008.county + ', ' + ur_2008.state

In [177]:
ur_2008.drop('state', axis=1, inplace=True)

In [173]:
ur_2012 = replace(ur_2012)

ur_2012.county = ur_2012.county + ', ' + ur_2012.state

In [178]:
ur_2012.drop('state', axis=1, inplace=True)

In [174]:
ur_2016 = replace(ur_2016)

ur_2016.county = ur_2016.county + ', ' + ur_2016.state

In [179]:
ur_2016.drop('state', axis=1, inplace=True)

In [180]:
ur_2004.to_csv('./ur_2004')

In [181]:
ur_2008.to_csv('./ur_2008')

In [182]:
ur_2012.to_csv('./ur_2012')

In [183]:
ur_2016.to_csv('./ur_2016')